<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edith Clarket</title>
</head>
<body>
    <h1>Edith Clarke</h1>
    <img src="img/Clarke.jpg" alt="">
    <p>Edith Clarke nacida en el Condado de Howard (Maryland) el 10 de febrero de 1883, fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos).</p>
    <p>Incapaz de encontrar trabajo como ingeniera, empezó a trabajar para General Electric como supervisora de ordenadores en el Departamento de Ingeniería de la Turbina. En su tiempo libre, inventó la 'calculadora Clarke', un sencillo dispositivo gráfico que resolvía ecuaciones implicando corriente eléctrica, voltaje e impedancia en líneas de transmisión de energía. El aparato solucionaba ecuaciones lineales que implican funciones hiperbólicas diez veces más rápido que métodos anteriores. Clarke presentó una solicitud de patente para la calculadora en 1921 que le fue concedida en 1925.</p>
</body>
</html>